.dashboardContainer {
	min-width: 600px;
	max-width: 850px;
	padding: 20px;
	margin: 0 auto;

	.directoryHeader {
		width: 100%;
		margin-bottom: 50px;
		display: table;
		table-layout: fixed;

		.directoryBreadCrumbs {
			display: table-cell;
			vertical-align: middle;

			&Item {
				cursor: pointer;
				font-weight: 500;

				&:nth-child(n+2) {
					margin-left: 10px;

					&::before {
						content: '>';
						margin-right: 10px;
						color: #8d8d8d;
					}
				}
			}
		}
		.dashboardControls {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			width: 150px;

			&Btn {
				font-size: 18px;
				padding: 7px;
				margin-left: 15px;
				cursor: pointer;

				&TypeA {
					color: #4581c5;
				}

				&TypeB {
					color: #37c521;
				}
				&TypeC {
					color: #f17629;
				}
			}

		}
	}
	.dashboardListContainer {
		//border: 1px solid #bdbdbd;

		.dashboardList {
			padding-left: 0;
			margin: 0;
			list-style: none;

			&Msg {
				border: 1px solid #bdbdbd;
				padding: 20px;
				text-align: center;

				.icon {
					padding: 5px 10px;
					font-size: 28px;
					vertical-align: middle;
					color: #1c8fe6;
				}
			}
		}
	}



	.pageModal {
		padding: 10px 25px 35px 25px;
		text-align: center;


		.description {
			padding: 45px 0 0;
			font-size: 18px;
			color: #717171;
		}
		.field, .actionBtn {
			margin-top: 20px;
		}
		.field {
			width: 100%;
			display: block;
			padding: 5px;
		}
		.actionBtn {
			display: inline-block;
			padding: 7px 40px;
			border-radius: 4px;
			color: #fff;
			background-color: #1c8fe6;
			cursor: pointer;

			&:hover {
				background-color: #70c954;
			}
			&:active {
				background-color: #65b44b;
			}
		}
	}
}
