#left-title {
  padding-left: 70px;
  padding-top: 30px;
  font-weight: bold;
  font-size: 30px;
}

img {
  height: 45px;
  width: 45px;
}

.col-md-4 {
  margin-top: 150px;
}

#homepageimage {
  width: 60%;
  height: 60%;
  margin-top: 100px;
}
