body {
  font-family: verdana;
}

#left-title {
  padding-left: 70px;
  padding-top: 30px;
  font-weight: bold;
  font-size: 30px;
}

.dropbox-image {
  margin-top: 50px;
  margin-left: 30px;
}

img {
  height: 45px;
  width: 45px;
}

#homepageimage {
  width: 60%;
  height: 60%;
  margin-top: 100px;
}

.nav-pills {
  font-size: 18px;
  margin-left: 20px;
}

.navbar-custom {
  background-color: blue;
  color: #ffffff;
  border-radius: 0;
  font-size: 100px;
}

.row.content {
  height: 1500px;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

#my_file {
  display: none;
}

h4 {
  color: #1e90ff;
}
.glyphicon-plus-sign {
  margin-left: 35px;
}
.btn-bs-file {
  width: 240px;
  height: 40px;
  font-size: 15px;
  margin-top: 50px;
}
.btn-bs-file input[type='file'] {
  opacity: 0;
  cursor: inherit;
  height: 5px;
  width: 5px;
}

.dropdownmenu {
  width: 200px;
  height: 300px;
}

.username {
  font-size: 18px;
  color: #303030;
}
